@model BandMvcReal.Models.Band
<!Doctype Html>
<html>
<head>
    <title>Band List</title>
    <meta charset="utf-8" />

</head>
<body>
    <h1>Band Description</h1>
       <p>@Model.Description</p>
@*       <img src="@Model.Picture"/>*@
</body>
</html>
